*{
    text-align:center;  
    }
    
    .title{
      color:white;
      margin-top:200px;
    }
    
    .form-text{
      color: #f4e1d2;
    }
    
    body{
    background-color:#36486b;
    }
    
    #form{
    padding:30px;
    background-color:#618685;
    border-radius:30px;
    color:white;
    }
    
    #text-input{
      border-radius:10px;
      border: 1px solid grey;
    }
    
    #check-btn{
      border-radius:10px;
      font-size:10px;
      background-color:#f18973;
      color:white;
      border: 1px solid grey;
    }
    
    #information-box{
      background-color:#b2b2b2;
      border-radius:10px;
      width:240px;
      margin: auto;
      color:#625750;
      margin-top:30px;
      padding:1px;
    }
    
    /* Desktop */
    
    @media (max-width:1800px){
      .title{
        font-size:3.5rem;
      }
    
     .form-text, #text-input,#check-btn{
        font-size:1.3rem;
      }
    
      form{
        width:500px;
        margin:auto;
      }
    
      #information-box{
        width:300px;
      }
    
    }
    
    
    
    /* Mobile */
    
    @media (max-width:858px){
    .title{
        font-size:2.5rem;
      }
    
    .form-text, #text-input,#check-btn{
        font-size:1rem;
      }
    
      form{
        width:350px;
        margin:auto;
      }
    
      #information-box{
        width:250px;
      }
    
    
    }
